@CHARSET "UTF-8";
/*
 *		DropDownMenu
 */
.dropDownMenu
{
	position: absolute;

	margin: 0;
	padding: 0;

	z-index: 1;

	list-style: none;
}

/*
 *		DropDownMenu <li>
 */
.dropDownMenu li
{
	position: relative;
	top: 10px;

	margin: 0;
	padding: 0;

	height: 0;

	background-color: rgb(5, 5, 5, 0.8);

    transition: all 500ms ease;
}
.dropDownMenu li:nth-child(1)
{
	top: 0px;

	height: 70px;
}
#main_menu li .dropDownMenu li:nth-child(1)
{
	background-color: rgba(0, 0, 0, 0);
}


.dropDownMenu li:nth-child(1)::before
{
	position: absolute;
	top: calc(100% - 23px);
	left: calc(50% - 8px);

    content: ' ';
    display: inline-block;

    width: 8px;
    height: 8px;

    margin: 0px 15px 0px 0px;

    border-right: 1px solid white;
    border-bottom: 1px solid white;

    transition: all 500ms ease;
    transform: rotate(45deg);
}


.dropDownMenu:hover > li
{
	height: 70px;
}
.dropDownMenu:hover > li:nth-child(1)
{
	color: rgba(0, 0, 0, 0);
}
.dropDownMenu:hover > li:nth-child(1)::before
{
	top: calc(50% - 8px);
    transform: rotate(405deg);
}
