@CHARSET "UTF-8";
/*
 *		Input Form
 */
.inputTable
{
	width: 100%;
	max-width: 1000px;

	margin: 10px auto;
	padding: 30px 60px;
	box-sizing: border-box;

	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px lightgray;
}

/*	Input Form Title */
.inputTable th
{
	width: 30%;
	font-size: 1.1em;
	padding: 5px;
}

.inputTable td
{
	width: 70%;
	padding: 5px;
}

.inputTable input[type="text"],
.inputTable input[type="password"],
.inputTable input[type="email"]
{
	width: 100%;

	font-size: 1.05em;
	font-family: Arial, sans-serif;

	padding: 2px 5px;

	border: solid 1px black;
	border-radius: 3px;

	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);

	transition: all 200ms 0s ease;
}

.inputTable input[type="text"]:hover,
.inputTable input[type="password"]:hover,
.inputTable input[type="email"]:hover
{
	transition: all 200ms 0s ease;
	box-shadow: 0 0 10px #FFE266,
				inset 0 0 10px #FFE266;
}

.inputTable input[type="submit"],
.inputTable input[type="button"]
{

	font-family: Arial, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;

	border: solid 1px black;

	cursor: pointer;

	transition: all 200ms 0s ease;
}

.searchTable
{
	width: 100%;
	max-width: 1000px;

	margin: 10px auto;
	padding: 30px 3%;
	box-sizing: border-box;

	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 2px lightgray;
}

.searchTable td
{
	text-align: center;
	padding: 0px;
}

.searchTable input[type="text"]
{
	width: 100%;

	font-size: 1.05em;
	font-family: Arial, sans-serif;

	padding: 2px 5px;
	box-sizing: border-box;

	border: solid 1px black;
	border-radius: 3px;

	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);

	transition: all 200ms 0s ease;
}

.searchTable input[type="text"]:hover
{
	transition: all 200ms 0s ease;
	box-shadow: 0 0 10px #FFE266,
				inset 0 0 10px #FFE266;
}
