/*
 *		ItemList
 */
.itemList
{
	margin: 0 auto;
	padding: 0;
	
	width: 100%;
	
    display:flex;
    flex-wrap:wrap;
    
	list-style:none;
	text-align: center;
}
.itemList > li
{
	float: left;
	
	padding: 20px;
	
	width: calc(100% / 4);
	box-sizing: border-box;
	
	transition: all 200ms 0s ease;
}

/*
 *		ImageBox
 */
.itemList > li > .imageBox
{
	margin: 5px auto 15px auto;
	padding: 20px;
	
	max-width: 200px;
	width: calc(100% - 20px);
	box-sizing: border-box;
	
	transition: all 200ms ease;
}
.itemList > li > .imageBox:hover
{
	margin: 0px auto 10px auto;
	
	max-width: 210px;
	width: calc(100% - 10px);
	
	box-shadow: 0px 0px 50px rgb(198, 255, 188);
}
.itemList > li > .imageBox > img
{
	width: 100%;
}

.itemList > li p
{
	margin: 0px;
	padding: 0px;
}

/*
 *		MediaQuery
 */
@media screen and (max-width:1150px) 
{
	.itemList > li
	{
		width: calc(100% / 3);
	}
}

@media screen and (max-width:850px) 
{
	.itemList > li
	{
		width: calc(100% / 2);
	}
}

@media screen and (max-width:550px) 
{
	.itemList > li
	{
		width: 100%;
	}
}
