/*
 *		VerticalItemList
 */
.verticalItemList
{
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.verticalItemList > li
{
	margin: 10px;
	padding: 10px;
	
	border: 1px solid black;
	
	display: inline-block;
	vertical-align: middle;
	
    display:flex;
    flex-wrap:wrap;
}

.verticalItemList  > li .left
{
	width: 30%;
	padding: 5px;
	box-sizing: border-box;
	
	float: left;
	
	text-align: center;
}
.verticalItemList >  li .left div
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	
	padding: 10px;
}

.verticalItemList > li img
{
	width: 100%;
	max-width: 150px;
}

.verticalItemList >  li .right
{
	width: 70%;
	padding: 5px;
	box-sizing: border-box;
	
	float: right;
}
.verticalItemList >  li .right div
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*
 *		’†‚Ì<ul>
 */
.verticalItemList > li ul
{
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.verticalItemList > li ul li
{
	margin: 2px;
	padding: 0;
}