@CHARSET "UTF-8";
@IMPORT url("./header.css");
@IMPORT url("./footer.css");
@IMPORT url("./dropDownMenu.css");
@IMPORT url("./slider.css");
@IMPORT url("./messageBox.css");
@IMPORT url("./inputTable.css");
@IMPORT url("./button.css");
@IMPORT url("./review.css");
@IMPORT url("./table.css");
@IMPORT url("./tab.css");
@IMPORT url("./itemList.css");
@IMPORT url("./verticalItemList.css");
@IMPORT url("./dropMenu.css");

/*
 *	Body
 */
body
{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/*
 *	Main
 */
#main
{
	margin: 0;
	padding: 0;

	width: 100%;
	min-height: calc(100vh - 140px);

	display: inline-block;
	vertical-align: top;
}



/*
 *	Left
 */
#main #left
{
	padding: 10px 5px 10px 10px;

	float: left;

	width: 70%;
	height: 100%;

	box-sizing: border-box;
}

/*
 *	Left_Max
 */
#main #left_max
{
	padding: 10px;

	float: left;

	width: 100%;
	height: 100%;

	box-sizing: border-box;
}


/*
 *	Right
 */
#main #right
{
	padding: 10px 10px 10px 5px;

	float: left;

	width: 30%;
	height: 100%;

	box-sizing: border-box;
}

#main #right h2
{
	padding: 1px 1px 1px 10px;
	margin-right: 30px;
	border-bottom: solid 1px #555555;
	font-size: 20px;
}

#main #right ul
{
	list-style: none;
}

@media screen and (max-width:800px)
{
	#main #left
	{
		width: 100%;
	}

	#main #right
	{
		display: none;
		width: 0%;
	}
}




/*
 *	Box
 */
.boxarea
{
	padding: 10px;

	width: 100%;
	height: 100%;
	min-height: calc(100vh - 160px);
	box-sizing: border-box;

	border: solid 1px black;
	border-radius: 3px;

	background-color: white;
	box-shadow: 0px 0px 5px 2px lightgray;
}

/*
 *	Site Title
 */
#site_title
{
	margin: 0px 10px;
	font-size: 30px;
	font-weight: bold;
	line-height: 70px;
	float: left;
}


/*
 *	Article
 */
.article
{
	width: 100%;
	height: 100%;
}

.article h1
{
	padding: 1px 1px 1px 10px;
	border-left: solid 4px black;
	border-bottom: solid 1px black;
	font-size: 25px;
}

.article h2
{
	padding: 1px 1px 1px 10px;
	margin-right: 30px;
	border-bottom: solid 1px #555555;
	font-size: 20px;
}

.article p
{
	padding: 5px 10px 10px 10px;
}

/*
 *	Center
 */
.center
{
	margin: 0 auto;
}

.text-center
{
	text-align: center;
}

/*	Delete */
.delete
{
	color: red;
	font-weight: bold;
}

canvas
{
	width: 100%;
}

.tabBox
{
	border: 1px solid black;
	padding: 10px;
}

img
{
	width: 100%;
}
