/*
 *	Table
 */
.table
{
	margin: 0px auto;
	padding: 1px;
	
	width: 100%;
	
	table-layout: fixed;
	word-wrap: break-word;
	
	border: solid 1px black;
	border-spacing:0;
	border-collapse:collapse;
}

.table tr
{
	background: white
}

.table th
{
	padding: 10px;
	box-sizing: border-box;
	
	width: 30%;
	
	font-weight: bold;
	
	border: 1px solid black;
	background: rgb(220, 220, 220);
}

.table td
{
	padding: 5px 10px;
	box-sizing: border-box;
	border: 1px solid black;
}

.table input
{
	padding: 2px 5px;
}

.table input[type="text"],
.table input[type="number"],
.table input[type="datetime-local"],
.table input[type="tel"],
.table select,
.table textarea
{
	width: calc(100% - 1.5em);
	box-sizing: border-box;
	
	font-size: 1.05em;
	font-family: Arial, sans-serif;
	
	border: solid 1px black;
	border-radius: 3px;
	
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
}

.table select
{
	padding: 2px;
}

.table textarea
{
	height: 8em;
}

.table input[type="text"]:hover,
.table input[type="number"]:hover,
.table input[type="datetime-local"]:hover,
.table input[type="tel"]:hover,
.table select:hover,
.table textarea:hover
{
	transition: all 200ms 0s ease;
	box-shadow: 0 0 10px #FFE266, inset 0 0 20px #FFE266;
}
