/*
 *		VerticalItemList
 */
.verticalItemList
{
	margin: 0;
	padding: 0;

	list-style: none;
}

.verticalItemList > li
{
	position: relative;

	margin: 10px;
	padding: 10px;

	min-height: 200px;

	border: 1px solid black;

	display: inline-block;
	vertical-align: middle;

    display:flex;
    flex-wrap:wrap;

	box-shadow: 0px 0px 5px rgb(150, 150, 150);
}

.verticalItemList  > li .left
{
	width: 30%;
	padding: 5px;
	box-sizing: border-box;

	float: left;

	text-align: center;
}
.verticalItemList >  li .left div
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	padding: 10px;
}

.verticalItemList > li img
{
	margin: 5px;
	width: calc(100% - 10px);
	max-width: 100px;

	transition: all 200ms ease;
}

.verticalItemList > li img:hover
{
	margin: 0px;
	width: 100%;
	max-width: 110px;
}

.verticalItemList >  li .right
{
	width: 70%;
	padding: 5px;
	box-sizing: border-box;

	float: right;
}
.verticalItemList >  li .right div
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*
 *		íÜÇÃ<ul>
 */
.verticalItemList > li ul
{
	margin: 0;
	padding: 0;

	list-style: none;
}
.verticalItemList > li ul li
{
	margin: 2px;
	padding: 0;
}

/*
 *		ÉeÅ[ÉuÉã
 */
.verticalItemList table
{
	width: 100%;
}
.verticalItemList table th
{
	width: 20%;
	padding: 3px 5px;
}
.verticalItemList table td
{
	width: 80%;
	padding: 3px 5px;
}

/*
 *		ÇªÇÃëº
 */

.verticalItemList p
{
	margin: 0px;
	padding: 0px;
}

.verticalItemList .price
{
	font-weight: bold;
	color: red;
}